version: "3.7"

services:
  gem:
    build: .
    volumes:
      - ./:/gem:cached
      - ~/.ssh:/root/.ssh
      - ~/.bash_history:/root/.bash_history
      - ~/.pryrc:/root/.pryrc
      - bundle_cache:/bundle_cache
    environment:
      - AWS_REGION
      - AWS_DEFAULT_REGION
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN
      - AWS_SECURITY_TOKEN
      - AWS_SESSION_EXPIRATION
      - BUNDLE_PATH=/bundle_cache
      - GEM_HOME=/bundle_cache
      - GEM_PATH=/bundle_cache
      - SKIP_LOGS=true

  bundle_cache:
    image: busybox
    volumes:
      - bundle_cache:/bundle_cache

volumes:
  bundle_cache:
  public:
